In [1]:
import pandas as pd
import datetime as dt

In [12]:
# Read the original Dataset without the header
sales = pd.read_excel('Adidas US Sales.xlsx', skiprows = 4).copy()
sales = sales.drop(columns = 'Unnamed: 0')
sales

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

# Create a new DataFrame

### which shows the avergae of "Price per Unit" and "Operating Maring" and the sum of "Unit Sold" and "Total Sales" in each "Year" in each "Region" and by each "Sales Method"

In [3]:
# As we want to prioritize using only "Year" from dateTime "Invoice Date" so we will create a new column called "Year"
# and the value in this column will comes from the year value from dateTime "Invoice Date"

sales.insert(loc = 2, column = 'Year', value = sales['Invoice Date'].dt.year)
sales

,Retailer,Retailer ID,Year,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,1185732,2020,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,1185732,2020,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,1185732,2020,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,1185732,2020,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [4]:
# Group the data together by "Year", "Region" and "Sales Method"

group = sales.groupby(['Year', 'Region', 'Sales Method'])

In [5]:
# Calculate "average" of  "Price per Unit" and "Operating Margin" and sum of "Units Sold" and "Total Sales"
# Then put it inside "calculate" variable as new DataFrame

calculate = group.agg({ 'Price per Unit': 'mean',
                   'Units Sold': 'sum',
                   'Total Sales': 'sum',
                   'Operating Margin': 'mean'    
}).round(2)
calculate

                             Price per Unit  Units Sold  Total Sales  \
Year Region    Sales Method
2020 Midwest   In-store               40.19        4590    1838000.0
               Online                 40.17        4453     184568.0
               Outlet                 43.91       11795    5355500.0
     Northeast In-store               49.29        7200    3547500.0
               Online                 50.39       19613     999605.0
               Outlet                 46.17       88198   36202604.0
     South     Online                 40.50       15433     624977.0
               Outlet                 37.15       74889   24831905.0
     Southeast In-store               52.36       57385   30807500.0
               Online                 49.26       15750     793363.0
     West      In-store               65.30       87400   57710000.0
               Online                 59.90       31836    1917453.0
               Outlet                 49.24       43807   17267700.0
2021 Midwest   In-store               39.31      140615   57716000.0
               Online                 39.82      161539   40068891.0
               Outlet                 44.47       68345   30637500.0
     Northeast In-store               48.58      222755  112403250.0
               Online                 47.13       74537    3627172.0
               Outlet                 43.61       88976   29543936.0
     South     In-store               49.75        6825    3393750.0
               Online                 41.35      189526   59213858.0
               Outlet                 34.57      205587   56598691.0
     Southeast In-store               64.14       62075   41553750.0
               Online                 49.33      228706   83106847.0
               Outlet                 45.24       43084    6909776.0
     West      In-store               45.21      101145   47674000.0
               Online                 49.77      197700   57136148.0
               Outlet                 44.78      225097   88237881.0

                             Operating Margin
Year Region    Sales Method
2020 Midwest   In-store                  0.34
               Online                    0.47
               Outlet                    0.35
     Northeast In-store                  0.36
               Online                    0.46
               Outlet                    0.36
     South     Online                    0.50
               Outlet                    0.40
     Southeast In-store                  0.37
               Online                    0.49
     West      In-store                  0.32
               Online                    0.45
               Outlet                    0.38
2021 Midwest   In-store                  0.37
               Online                    0.47
               Outlet                    0.40
     Northeast In-store                  0.36
               Online                    0.48
               Outlet                    0.38
     South     In-store                  0.40
               Online                    0.49
               Outlet                    0.46
     Southeast In-store                  0.34
               Online                    0.44
               Outlet                    0.38
     West      In-store                  0.36
               Online                    0.44
               Outlet                    0.37

In [6]:
# Reset index for easier opration in the future

calculate = calculate.reset_index()

In [7]:
calculate

,Year,Region,Sales Method,Price per Unit,Units Sold,Total Sales,Operating Margin
0,2020,Midwest,In-store,40.19,4590,1838000.0,0.34
1,2020,Midwest,Online,40.17,4453,184568.0,0.47
2,2020,Midwest,Outlet,43.91,11795,5355500.0,0.35
3,2020,Northeast,In-store,49.29,7200,3547500.0,0.36
4,2020,Northeast,Online,50.39,19613,999605.0,0.46
5,2020,Northeast,Outlet,46.17,88198,36202604.0,0.36
6,2020,South,Online,40.50,15433,624977.0,0.50
7,2020,South,Outlet,37.15,74889,24831905.0,0.40
8,2020,Southeast,In-store,52.36,57385,30807500.0,0.37
9,2020,Southeast,Online,49.26,15750,793363.0,0.49
10,2020,West,In-store,65.30,87400,57710000.0,0.32
11,2020,West,Online,59.90,31836,1917453.0,0.45
12,2020,West,Outlet,49.24,43807,17267700.0,0.38
13,2021,Midwest,In-store,39.31,140615,57716000.0,0.37
14,2021,Midwest,Online,39.82,161539,40068891.0,0.47
15,2021,Midwest,Outlet,44.47,68345,30637500.0,0.40
16,2021,Northeast,In-store,48.58,222755,112403250.0,0.36
17,2021,Northeast,Online,47.13,74537,3627172.0,0.48
18,2021,Northeast,Outlet,43.61,88976,29543936.0,0.38
19,2021,South,In-store,49.75,6825,3393750.0,0.40
20,2021,South,Online,41.35,189526,59213858.0,0.49
21,2021,South,Outlet,34.57,205587,56598691.0,0.46
22,2021,Southeast,In-store,64.14,62075,41553750.0,0.34
23,2021,Southeast,Online,49.33,228706,83106847.0,0.44
24,2021,Southeast,Outlet,45.24,43084,6909776.0,0.38
25,2021,West,In-store,45.21,101145,47674000.0,0.36
26,2021,West,Online,49.77,197700,57136148.0,0.44
27,2021,West,Outlet,44.78,225097,88237881.0,0.37

In [8]:
# Rename columns "Price per Unit" and "Operating Margin" to "Average Price per Unit" and "Average Operating Margin"
calculate = calculate.rename(mapper = {'Price per Unit': 'Average Price per Unit',
                                              'Operating Margin': 'Average Operating Margin'
                          }, axis = 1)
calculate

,Year,Region,Sales Method,Average Price per Unit,Units Sold,Total Sales,Average Operating Margin
0,2020,Midwest,In-store,40.19,4590,1838000.0,0.34
1,2020,Midwest,Online,40.17,4453,184568.0,0.47
2,2020,Midwest,Outlet,43.91,11795,5355500.0,0.35
3,2020,Northeast,In-store,49.29,7200,3547500.0,0.36
4,2020,Northeast,Online,50.39,19613,999605.0,0.46
5,2020,Northeast,Outlet,46.17,88198,36202604.0,0.36
6,2020,South,Online,40.50,15433,624977.0,0.50
7,2020,South,Outlet,37.15,74889,24831905.0,0.40
8,2020,Southeast,In-store,52.36,57385,30807500.0,0.37
9,2020,Southeast,Online,49.26,15750,793363.0,0.49
10,2020,West,In-store,65.30,87400,57710000.0,0.32
11,2020,West,Online,59.90,31836,1917453.0,0.45
12,2020,West,Outlet,49.24,43807,17267700.0,0.38
13,2021,Midwest,In-store,39.31,140615,57716000.0,0.37
14,2021,Midwest,Online,39.82,161539,40068891.0,0.47
15,2021,Midwest,Outlet,44.47,68345,30637500.0,0.40
16,2021,Northeast,In-store,48.58,222755,112403250.0,0.36
17,2021,Northeast,Online,47.13,74537,3627172.0,0.48
18,2021,Northeast,Outlet,43.61,88976,29543936.0,0.38
19,2021,South,In-store,49.75,6825,3393750.0,0.40
20,2021,South,Online,41.35,189526,59213858.0,0.49
21,2021,South,Outlet,34.57,205587,56598691.0,0.46
22,2021,Southeast,In-store,64.14,62075,41553750.0,0.34
23,2021,Southeast,Online,49.33,228706,83106847.0,0.44
24,2021,Southeast,Outlet,45.24,43084,6909776.0,0.38
25,2021,West,In-store,45.21,101145,47674000.0,0.36
26,2021,West,Online,49.77,197700,57136148.0,0.44
27,2021,West,Outlet,44.78,225097,88237881.0,0.37

In [11]:
with pd.ExcelWriter('Adidas Us Sales altered.xlsx') as writer:
    calculate.to_excel(writer, sheet_name = 'By Year, Region and Method', index = False)